body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
#Introduction{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #1F2937;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}
#some-info{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
#image-description{
    display: flex;
    width: auto;
    height: auto;
    gap: 50px;
}
.some-images{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
}
#some-quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}
#author{
    align-self: flex-end;
    margin-right: 550px;
}
#call-info{
    padding: 25px 50px 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 1200px;
    gap: 300px;
    background-color: #3882F6;
    color: #E5E7EB;
}
#footer{
    padding: 25px 100px 25px 100px;
}
#intro-img{
    display: block;
}
ul{
    display: flex;
    gap: 20px;
}
#intro-info{
    display: flex;
    flex-direction: column;
}
h3{
    text-align: center;
}
.subtext{
    margin: 0px;
}
#theQuote{
width: 750px;
height: auto;
}
#last{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    text-align: center;
}
span{
    border-radius: 100%;
    width: 15px;
    text-align: center;
    height: 15px;
    display: inline-block;
    border: 1px solid #E5E7EB;
    padding-bottom: 5px;
}
li{
    list-style: none;
}
h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
#intro{
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 50px;
    margin-top: 0px;
}
#intro-text,li{
    font-size: 18px;
    color: #E5E7EB;
}
#theQuote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
#random-info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
button{
    background-color: #3882F6;
    width: 100px;
    border-radius: 15px;
    height: 30px;
}
#button1{
    color: #E5E7EB;
}
#button2{
    border: 1px solid #E5E7EB;
}
#footer{
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}
#signUpInfo{
    font-size: 18px;
    color: #E5E7EB;
}
#signUpHeader{
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    margin-bottom: 50px;
    margin-top: 0px;
}
.some-images>img{
    border: 2px solid  #3882F6;
    border-radius: 20px;
    margin-bottom: 5px;
}
#info>h5{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 24px;
    color: #F9FAF8;
}
#info>p{
    margin-top: 0px;
    font-size: 18px;
    color: #E5E7EB;
}
#Introduction>div>h2{
    margin-bottom: 0px;
}